<div class='container main-container'>
  <div class="form-group row form-container">
    <div class='col-sm-4 label-container'>
      <span>Size:</span>
    </div>
    <div class="col-sm-4">
      <input class='form-control size-input' type="text" placeholder="Enter positive number" [(ngModel)]='tomatoOrdersSize'>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-default refresh-btn" (click)='onRefreshClicked($event)'>
        <span>Refresh</span>
      </button>
    </div>
  </div>

  <div class='table-container row'>
  <table class="table col-sm-12">
    <thead>
      <tr>
        <th>Provider</th>
        <th>Tomatoes</th>
        <th>Sale Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let order of tomatoOrders'>
        <td class='provider'>{{order.provider}}</td>
        <td class='quantity'>{{order.tomatoes}}</td>
        <td class='date'>{{this.timestampToDate(order.timestamp) | date: 'dd.MM.yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
